img {
  border-radius: 35%;
  
}

body {
  background-color: #A5F1E9;
}

h1 {
  color: #00005C;
}

h2 {
  font-family: cursive;
  color: #00005C;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: #FFEBAD;
  width: 2.5%;
}
